<section class="banner container-fluid">
	<div class="container">
		<div class="row">
			<div class="box">
				<h1>
					<label>BlueEssaySite.net -</label> <br />expert help for custom
					Written
				</h1>
				<div class="d-none d-md-block lineO"></div>
				<div class="d-none d-md-block line"></div>
				<p>
					On the other hand, we denounce with righteous <br />
					indignation and dislike men who are so beguiled and <br />
					demoralized
				</p>
				<a href="#" class="button">Place an order</a>
			</div>
		</div>

		<div class="form">
			<img class="d-none d-md-block" src="../../../assets/img/girl.png" alt="girl" />
			<div class="box-form">
				<p>Type of paper</p>
				<select name="" id="">
					<option value="">Placeholder text</option>
				</select>
			</div>
			<div class="box-form">
				<p>Writer level</p>
				<select name="" id="">
					<option value="">Easy schoolt</option>
					<option value="">Average schoolt</option>
					<option value="">High schoolt</option>
				</select>
			</div>
			<div class="box-form">
				<p>Urgency</p>
				<select name="" id="">
					<option value="">11 days</option>
					<option value="">21 days</option>
					<option value="">31 days</option>
				</select>
			</div>
			<div class="box-form">
				<p>Number of pages</p>
				<div class="counter">
					<button class="counter_btn counter_minus" data-direction="minus">
						-
					</button>
					<input class="counter_value" type="text" value="2" />
					<button class="counter_btn counter_plus" data-direction="plus">
						+
					</button>
				</div>
			</div>
			<a href="#" class="button">Continue</a>
		</div>
	</div>
</section>

<section class="container section2">
	<div class="row">
		<div class="d-none d-lg-block col-6">
			<div class="box1">
				<img src="../../assets/img/01-img.png" alt="" />
			</div>
		</div>
		<div class="col-12 col-sm-12 col-lg-6">
			<div class="box2">
				<img class="d-none d-md-block d-lg-none" src="../../assets/img/01-img.png" alt="" />
				<h1>Do you need essay help from a good writing service?</h1>
				<p>
					If you need to buy papers or custom essays, you have arrived at the
					ideal place! We offer guarantees that any essay work provided by our
					professional writing services will be entirely free of plagiarism and
					100% freshly written. At BestEssayService.net, we make sure our
					customers are fully satisfied every time they use our custom term
					paper writing service.
				</p>
				<p>
					Our essay and research paper writing services are provided by a large
					team of editing, writing and research specialists who can help you
					with all types of coursework, whether you have essays, term papers,
					research papers, theses or dissertations to complete. Our essay
					writers are able to help you with all subject matters for all
					education levels, no matter if you are a high school student or
					studying for a PhD or Master's degree.
				</p>
			</div>
		</div>
	</div>
</section>
