<section class="banner container-fluid">
	<div class="container">
		<div class="box">
			<h1><label>BlueEssaySite.net -</label> <br />expert help for custom Written</h1>
			<div class="lineO"></div>
			<div class="line"></div>
			<p>
				On the other hand, we denounce with righteous <br />
				indignation and dislike men who are so beguiled and <br />
				demoralized
			</p>
			<a href="#" class="button">Place an order</a>
		</div>
	</div>
    
	<div class="form">
        <img src="../../../assets/img/girl.png" alt="girl">
		<div class="box-form">
			<p>Type of paper</p>
			<select name="" id="">
				<option value="">Placeholder text</option>
			</select>
		</div>
		<div class="box-form">
			<p>Writer level</p>
			<select name="" id="">
				<option value="">Easy schoolt</option>
				<option value="">Average schoolt</option>
				<option value="">High schoolt</option>
			</select>
		</div>
		<div class="box-form">
			<p>Urgency</p>
			<select name="" id="">
				<option value="">11 days</option>
				<option value="">21 days</option>
				<option value="">31 days</option>
			</select>
		</div>
		<div class="box-form">
			<p>Number of pages</p>
			<input type="number" placeholder="2">
		</div>
        <a href="#" class="button">Continue</a>
	</div>
</section>
