<footer class="container-fluid">
	<div class="container">
		<div class="foot">
			<div>
				<a href="#"><img src="../../../assets/img/logo.png" alt="logo" /></a>
			</div>
			<ul class="navFooter">
				<li><a class="ft1" href="#">Home</a></li>
				<li><a class="ft1" href="#">About Us</a></li>
				<li><a class="ft1" href="#">Order now </a></li>
				<li><a class="ft1" href="#"> Disclaimer </a></li>
				<li><a class="ft1" href="#"> Why Us </a></li>
				<li><a class="ft1" href="#">Contacts</a></li>
				<li><a class="ft1" href="#"> Blog</a></li>
			</ul>
		</div>
		<div class="boxFooter">
			<div class="boxF_1">
				<h6>Section number1</h6>
				<p>
					But I must explain to you how Mistaken idea of denouncing Praising
					pain was born Account of the system Great explorer of the truth No one
					rejects, dislikes Mistaken idea of denouncing Praising pain was born
				</p>
			</div>
			<div class="boxF_1">
				<h6>Section number2</h6>
				<p>
					But I must explain to you how Mistaken idea of denouncing Praising
					pain was born Account of the system Great explorer of the truth No one
					rejects, dislikes Mistaken idea of denouncing Praising pain was born
				</p>
			</div>
			<div class="boxF_1">
				<h6>Section number3</h6>
				<p>
					But I must explain to you how Mistaken idea of denouncing Praising
					pain was born Account of the system Great explorer of the truth No one
					rejects, dislikes Mistaken idea of denouncing Praising pain was born
				</p>
			</div>
			<div class="boxF_1">
				<h6>Section number4</h6>
				<p>
					But I must explain to you how Mistaken idea of denouncing Praising
					pain was born Account of the system Great explorer of the truth No one
					rejects, dislikes Mistaken idea of denouncing Praising pain was born
				</p>
			</div>
		</div>
		<div class="boxEndFooter">
			<div class="boxF_2">
				<p class="pFoot">
					Copyright В© 2017 BlueEssaySite.net <br />
					All rights reserved
				</p>
			</div>
			<div class="boxF_2">
				<div class="icon">
					<div> <a href="#" class="facebook"></a></div>
					<div > <a href="#" class="twiteer"></a> </div>
					<div ><a href="#" class="pinteres"></a></div>
					<div><a href="#" class="google"></a></div>
				</div>
			</div>
			<div class="boxF_2">
				<div class="tel"></div>
				<p class="telp">Toll free:</p>
        <p class="numberf">+ 3 044 111 2732</p>
				
			</div>
			<div class="boxF_2">
				<div class="email"></div>
				<p class="telp">
					Email: 
					blueessaysite@gmail.com
				</p>
			</div>
		</div>
	</div>
</footer>
