<header class="container-fluid topnav-bg">
	<div class="container">
		<div class="head">
			<div>
				<a href="">
					<img src="../../../assets/img/logo.png" alt="logo" />
				</a>
			</div>
			<ul class="nav">
				<li ><a class="menu" href="#">Services</a></li>
				<li ><a class="menu" href="#">About us</a></li>
				<li ><a class="menu_1" href="#"> How it works</a></li>
				<li>
					<a class="phone" href="#"
						></a>
				</li>
				<li><a class="button" href="#">Sign in</a></li>
				<li><a class="button Orange" href="#">Order</a></li>
				<li>
					<a class="burger" href="#"
						></a>
				</li>
			</ul>
		</div>
	</div>
</header>
