<section class="container-fluid section">
	<div class="container box">
		<h2>Advantages of Our Writing Services</h2>
		<div class="block">
			<div class="content">
				<img src="../../../assets/img/02-img-1.png" alt="" />
				<h6>Professionally-qualified writing experts</h6>
				<p>
					But I must explain to you how all this mistaken idea of denouncing
					pleasure and praising pain was born
				</p>
			</div>
			<div class="content">
				<img src="../../../assets/img/02-img-2.png" alt="" />
				<h6>Commitment to deliver papers by deadline</h6>
				<p>
					But I must explain to you how all this mistaken idea of denouncing
					pleasure and praising pain was born
				</p>
			</div>
			<div class="content">
				<img src="../../../assets/img/02-img-3.png" alt="" />
				<h6>Top-quality, at a great price - guaranteed</h6>
				<p>
					But I must explain to you how all this mistaken idea of denouncing
					pleasure and praising pain was born
				</p>
			</div>
		</div>
		<a href="#" class="button">Place an order</a>
	</div>
</section>
<section class="container-fluid section_2">
	<div class="container box_2">
		<h2>Our Simple 4-Step Procedure</h2>
		<div class="block_2">
			<div class="content_2">
				<img src="../../../assets/img/03-img-1.png" alt="">
				<h6>Step 1</h6>
				<p>Complete the short order form to buy a paper from our easy essay writing service.</p>
				<div class="str">
					<img src="../../../assets/img/arrow_ourSimple.png" alt="">
				</div>
			</div>
			<div class="content_2">
				<img src="../../../assets/img/03-img-2.png" alt="">
				<h6>Step 2</h6>
				<p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
				<div class="str">
					<img src="../../../assets/img/arrow_ourSimple.png" alt="">
				</div>
			</div>
			<div class="content_2">
				<img src="../../../assets/img/03-img-3.png" alt="">
				<h6>Step 3</h6>
				<p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard.</p>
				<div class="str">
					<img src="../../../assets/img/arrow_ourSimple.png" alt="">
				</div>
			</div>
			<div class="content_2">
				<img src="../../../assets/img/03-img-4.png" alt="">
				<h6>Step 4</h6>
				<p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several <br> free-of-charge features.</p>
			</div>
		</div>
	</div>

</section>
