<section class="container-fluid section_3">
	<div class="container">
		<div class="row">
			<div class="cnt">
				<h2>Our discount program</h2>
				<p>
					By utilizing elements and principles of Material Design, we were
					<br />
					able to create a framework that incorporates
				</p>
				<div class="d-none d-sm-block block">
					<div class="bl">
						<div class="box_1">
							<h1>
								4% <br />
								OFF
							</h1>
							<p>for more than</p>
							<h6>15 pages</h6>
						</div>
						<div class="box_2">
							<h1>
								5% <br />
								OFF
							</h1>
							<p>for more than</p>
							<h6>20 pages</h6>
						</div>
						<div class="box_3">
							<h1>
								10% <br />
								OFF
							</h1>
							<p>for more than</p>
							<h6>50 pages</h6>
						</div>
						<div class="box_4">
							<h1>
								15% <br />
								OFF
							</h1>
							<p>for more than</p>
							<h6>100 pages</h6>
						</div>
					</div>
					<div class="d-none d-lg-inline-block bl_2">
						<div class="box_5">
							<h2>Try our service & get huge discounts</h2>
							<div class="box_6">
								<img
									class="scissors"
									src="../../../assets/img/scissors.png"
									alt=""
								/>
								<img class="stars" src="../../../assets/img/stars.png" alt="" />
								<img
									class="ballon"
									src="../../../assets/img/balloon.png"
									alt=""
								/>
								<h4>get</h4>
								<h1>
									15% <br />
									OFF
								</h1>
								<p>for your 1st order</p>
							</div>
							<p>Use discount15 as discount code</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid d-none d-sm-block section_4">
	<div class="container">
		<div class="row">
			<div
				id="carouselExampleIndicators"
				class="carousel slide"
				data-bs-ride="carousel"
			>
				<div class="carousel-indicators">
					<button
						type="button"
						data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="0"
						class="active"
						aria-current="true"
						aria-label="Slide 1"
					></button>
					<button
						type="button"
						data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="1"
						aria-label="Slide 2"
					></button>
					<button
						type="button"
						data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="2"
						aria-label="Slide 3"
					></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="cnt_2">
							<h2>What our clients says</h2>
							<img
								class="img_icons"
								src="../../../assets/img/05-user-01.png"
								alt=""
							/>
							<p>
								Using BestEssayService.net was possibly the best choice of my
								academic career. Even <br />
								though I work full-time, I managed to submit all my assignments
								on time owing to the <br />
								broad array of services on offer. No matter what written work I
								needed, help was <br />
								available. I would give a full ten mark
							</p>
							<h6>Lorna Grey</h6>
							<p class="date">20 apr 2016 at 8:23</p>
							<a href="#"
								><img
									class="strLeft"
									src="../../../assets/img/arrow.png"
									alt=""
							/></a>
							<a href="#"
								><img
									class="strRigth"
									src="../../../assets/img/arrow-right.png"
									alt=""
							/></a>
						</div>
					</div>
					<div class="carousel-item">
						<div class="cnt_2">
							<h2>What our clients says</h2>
							<img
								class="img_icons"
								src="../../../assets/img/05-user-02.png"
								alt=""
							/>
							<p>
								Using BestEssayService.net was possibly the best choice of my
								academic career. Even <br />
								though I work full-time, I managed to submit all my assignments
								on time owing to the <br />
								broad array of services on offer. No matter what written work I
								needed, help was <br />
								available. I would give a full ten mark
							</p>
							<h6>Lorna Grey</h6>
							<p class="date">20 apr 2016 at 8:23</p>
							<a href="#"
								><img
									class="strLeft"
									src="../../../assets/img/arrow.png"
									alt=""
							/></a>
							<a href="#"
								><img
									class="strRigth"
									src="../../../assets/img/arrow-right.png"
									alt=""
							/></a>
						</div>
					</div>
					<div class="carousel-item">
						<div class="cnt_2">
							<h2>What our clients says</h2>
							<img
								class="img_icons"
								src="../../../assets/img/05-user-03.png"
								alt=""
							/>
							<p>
								Using BestEssayService.net was possibly the best choice of my
								academic career. Even <br />
								though I work full-time, I managed to submit all my assignments
								on time owing to the <br />
								broad array of services on offer. No matter what written work I
								needed, help was <br />
								available. I would give a full ten mark
							</p>
							<h6>Lorna Grey</h6>
							<p class="date">20 apr 2016 at 8:23</p>
							<a href="#"
								><img
									class="strLeft"
									src="../../../assets/img/arrow.png"
									alt=""
							/></a>
							<a href="#"
								><img
									class="strRigth"
									src="../../../assets/img/arrow-right.png"
									alt=""
							/></a>
						</div>
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Предыдущий</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Следующий</span>
				</button>
			</div>
		</div>
	</div>
</section>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"
></script>
